In [26]:
import csv
import pandas as pd

In [27]:
test_df = pd.read_csv("dept_emp.csv")

In [28]:
test_df.head()

   emp_no dept_no
0   10001    d005
1   10002    d007
2   10003    d004
3   10004    d004
4   10005    d003

In [29]:
test_df.update('"' + test_df["dept_no"].astype(str)+ '"')

In [30]:
test_df.head()

   emp_no dept_no
0   10001  "d005"
1   10002  "d007"
2   10003  "d004"
3   10004  "d004"
4   10005  "d003"

In [32]:
test_df.to_csv("dept_emp2.csv", encoding = "UTF-8", index = False)